.card {
  position: relative;
  overflow: hidden; /* Ensures the scaling effect doesn't overflow the card */
  transition: transform 0.3s ease; /* Adds smooth transition for scaling */
}


.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem; /* Adjust padding as needed */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Adjust text color */
  transform: translateY(100%); /* Starts off hidden */
  transition: transform 0.3s ease; /* Smooth transition for content */
}

.card:hover .card-content {
  transform: translateY(0); /* Slide content up on hover */
}

.card-title {
  position: relative;
  width: max-content;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: -2px;
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 700ms;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

.card-body {
  color: rgb(255, 255, 255/0.85);
}
